.conteudo{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background{
    height: 60rem;
    position: absolute;
    left: 0;
}

.info{
    color: white;
    width: 60%;
    margin-right: 6rem;
    margin-top: 3rem;
}

.perfil{
    display:flex;
    margin:40px 0;
}

.profile{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #E5E5E5;
    margin-right: 32px;
}

.perfil h3 {
    color: #999999;
    font-size:24px;
    margin: 0;
}

.perfil span {
    display:block;
    color: #999999;
    font-size:1.3rem;
    margin: 0;
}

.perfil p {
    color: #999999;
    font-size: 1rem;
    margin: 20px 0 0 0;
}

h4{
    margin-top: 1rem;
}