.item-list{
    margin: 24px 0;
}

.item-list strong{
    color: #00fff2;
    font-size: 1.6rem;
}

.item-list p{
    color: #999999;
    font-size: 1rem;
    margin: 0.5rem 0;
    margin-bottom: 0.5rem;
}

.repositorio{
    font-size: 2rem;
    color: #999999;
    margin: 1rem 0;
    text-align: center;
    text-decoration: underline;

}